  <!-- في المكان ده هحط footer -->
      <!-- Main Footer -->
  <footer class="main-footer">
    <strong>Copyright &copy; 2026 <a href="https://www.facebook.com/share/1D34EvFStA/?mibextid=wwXIfr">Mohammad Animrawi</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block" >
        <a target="_blank" style="font-size:20px;" href="https://www.facebook.com/share/1D34EvFStA/?mibextid=wwXIfr"><i class="fab fa-lg ml-1 fa-facebook"></i></a>
        <a target="_blank" style="font-size:20px;" class="text-warning" href="https://www.instagram.com/mohammad_nemrawi123/?__pwa=1#"><i class="fab fa-lg ml-1 fa-instagram"></i></a>
    </div>
  </footer>

  